@font-face {
    font-family: 'Kaka-font';
    src: url(./assets/KakaFont-Regular.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaka-font', serif;
}

body {
    background: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

/*************************************** MENU ***************************************/

.nav-btn {
    position: fixed;
    bottom: 16px;
    right: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.nav-icon {
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}

.nav-icon span {
    position: absolute;
    width: 40%;
    height: 6px;
    background: #2a1929;
    transition: all 0.2s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    left: 4px;
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 2px;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    top: 13px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    top: 24px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 7px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 3px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 7px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 3px);
}

.off-screen-menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    background-color: rgba(17, 17, 17, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    font-size: 72px;
    transition: all 0.4s ease;
}

.off-screen-menu.menu-open {
    right: 0;
    /* z-index: 9; */
}

/* .off-screen-menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
} */

.off-screen-menu ul li {
    list-style: none;
    /* margin: 4px; */
    margin: 16px;
}

.off-screen-menu ul li a {
    /* position: relative; */
    display: block;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 600;
    transition: all 0.4s ease;
    transition-delay: 0.4s;
}

.off-screen-menu ul li a:hover {
    color: rgba(255, 255, 255, 0.2);
    transform: translateY(-20px);
    transition-delay: 0s;
}

.off-screen-menu ul li a::before {
    content: attr(data-text);
    position: absolute;
    bottom: -10px;
    pointer-events: none;
    text-transform: uppercase;
    /* z-index: 1; */
    font-size: 24px;
    color: #e2e2e2;
    text-shadow: 0 0 10px #e2e2e2,
        0 0 30px #e2e2e2,
        0 0 80px #e2e2e2;
    /* font-weight: 500; */
    letter-spacing: 100px;
    opacity: 0;
    transition: all 0.4s linear;
}

.off-screen-menu ul li a:hover::before {
    letter-spacing: 6px;
    opacity: 1;
    transition-delay: 0.2s;
}

/**************************************** HOME ****************************************/

h1 {
    font-size: 240px;
    /* display: flex; */
    height: 100%;
    /* margin: 0 auto; */
}